# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# coverage
/coverage

# local git worktrees
/.worktrees/

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*
!.env.example
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
